*{
    margin: 0;
    padding: 0;
}

.main-container{
    border: none;
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 70vh; 
    background-color: lightblue;
}